/* SORA FONT */
@font-face {
    font-family: sora;
    src: url('../fonts/sora/Sora-Thin.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: sora;
    src: url('../fonts/sora/Sora-Light.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: sora;
    src: url('../fonts/sora/Sora-Regular.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: sora;
    src: url('../fonts/sora/Sora-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: sora;
    src: url('../fonts/sora/Sora-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: sora;
    src: url('../fonts/sora/Sora-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}