.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
}
  
.modal_content {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
}
  
.close {
    font-size: 20px;
    color: white;
    float: right;

    /* background-color: var(--greenParticipar);
    box-shadow: 0px 0px 0px 0px;
    background: linear-gradient(270deg, #1deb49, #008c1e, #008c1e, #1deb49, #008c1e );
    background-size: 400% 400%;
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite; */
}
  
.close:hover {
    color: white;
    cursor: pointer;
}

#_form_51_submit {
    width: 100%;
    padding: 20px 40px;
    background-color: var(--greenParticipar);
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-weight: 800 !important;
    font-size: 1.3em;
    box-shadow: 0px 0px 0px 0px;
    background: linear-gradient(270deg, #1deb49, #008c1e, #008c1e, #1deb49, #008c1e );
    background-size: 400% 400%;
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;

}

.inputFormActive {
    border-color: #00c0af !important;
    border-width: 1px 1px 1px 1px !important;
    border-radius: 6px 6px 6px 6px !important;
}