@media (max-width: 1300px) {
    .textBigger {
        font-size: 1.6em;
    }
    .textNormal {
        font-size: 1.1em;
    }
    .textSmall {
        font-size: 1em;
    }
    #btnParticipar {
        font-size: 1.4em;
    }
}


@media (max-width: 920px) {
    #section1 {
        background-image: url('../assets/banner_mobile.webp');
        background-position: top 0px center;
    }
    .columnS1Mobile {
        margin-top: 20em !important;
    }
    .textBigger {
        font-size: 1.45em;
    }
    .textNormal {
        font-size: 1.1em;
    }
    .textSmall {
        font-size: 1em;
    }
    .iconLogoMobile {
        width: 70%;
    }
    #btnParticipar {
        font-size: 1.2em;
    }
    .marginS3CardMobile {
        margin-top: 1.1rem!important;
    }
    #cardAprendizados {
        padding-left: 8px;
        padding-right: 8px;
    }
    .modal_content {
        top: 5%;
        left: unset;
        width: 100%;
        padding: 20px;
    }
}


@media (max-width: 600px) {
    .columnS1Mobile {
        margin-top: 13em !important;
    }
}