/* VARIABLES */
:root {
    --primary: #89F2F2;
    --greenParticipar: #00CF1C;
}

* {
    font-family: sora, 'sans-serif';
    color: white;
    overflow-x: hidden;
    word-wrap: break-word;
}

/* DEFAULT */
.font-weight-bold {
    font-weight: 600 !important;
}

.font-weight-bolder {
    font-weight: 700 !important;
}

.font-weight-strong {
    font-weight: 800 !important;
}

.font-weight-light {
    font-weight: 400 !important;
}

.text-white {
    color: white
}
/* DEFAULT */

/* TEXTS */
.textGiant {
    font-family: "Helvetica", Sans-serif !important;
    font-size: 3.5em;
}

.textLarge {
    font-family: "Helvetica", Sans-serif !important;
    font-size: 3.2em;
}

.textBigger {
    font-size: 1.9em;
}

.textNormal {
    font-size: 1.3em;
}

.textSmall {
    font-size: 1.18em;
}

.textExtraSmall {
    font-size: 0.88em;
}
/* TEXTS */

.lh-1-3 {
    line-height: 1.3em;
}

.divSection2Animation {
    overflow-y: hidden;
}

.section2Animation {
    /* position: absolute; */
    background: linear-gradient(to right,transparent 50%,#4a82ee 50%);
    background-size: 200%;
    padding: 7px;
    border-radius: 10px;
    background-position: 0;
    transition: background-position 1.5s;
    animation: 5s infinite selecionar;
}

.faIcon {
    color: var(--primary) !important;
}

.iconCalendar {
    font-size: 1.3em;
}

.txtBtnParticipar, 
.iconButton {
    line-height: 35px;
}
.iconButton {
    vertical-align: middle;
}

#section1 {
    background-image: url('../assets/banner_desktop.webp');
    background-position: top -35px center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section3e5 {
    background-image: url('../assets/background_default.webp');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    background-image: url('../assets/background_default.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #89F2F2;
}

#btnParticipar {
    display: inline-block;
    padding: 20px 40px;
    background-color: var(--greenParticipar);
    /* border-radius: 11px 11px 11px 11px; */
    color: white;
    font-weight: 800 !important;
    font-size: 1.3em;
    box-shadow: 0px 0px 0px 0px;
    background: linear-gradient(270deg, #1deb49, #008c1e, #008c1e, #1deb49, #008c1e );
    background-size: 400% 400%;
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

#cardAprendizados {
    border-style: solid;
    border-width: 1px;
    border-color: #89f2F282;
    border-radius: 11px 11px 11px 11px;
    /* background-color: transparent; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: linear-gradient(180deg,#4242426B 0,#f2295B00 100%);
}

@keyframes Animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes selecionar {
    0% {
        background-position: 0;
    }
    20% {
        background-position: -100%;
    }
    100% {
        background-position: -100%;
    }
}