/*! CSS Used from: ../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-1{flex:0 0 auto;width:8.33333333%;}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
.col-10{flex:0 0 auto;width:83.33333333%;}
@media (min-width:576px){
.col-sm-3{flex:0 0 auto;width:25%;}
.col-sm-6{flex:0 0 auto;width:50%;}
}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-7{flex:0 0 auto;width:58.33333333%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
}
@media (min-width:992px){
.col-lg-2{flex:0 0 auto;width:16.66666667%;}
.col-lg-4{flex:0 0 auto;width:33.33333333%;}
.col-lg-5{flex:0 0 auto;width:41.66666667%;}
.col-lg-7{flex:0 0 auto;width:58.33333333%;}
.col-lg-8{flex:0 0 auto;width:66.66666667%;}
}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.form-control{transition:none;}
}
.form-control:focus{color:#212529;background-color:#fff;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.modal{position:fixed;top:0;left:0;z-index:1060;display:none;width:100%;height:100%;overflow-x:hidden;overflow-y:auto;outline:0;}
.d-flex{display:flex!important;}
.d-none{display:none!important;}
.flex-column{flex-direction:column!important;}
.align-self-center{align-self:center!important;}
.order-1{order:1!important;}
.order-4{order:4!important;}
.mt-1{margin-top:.25rem!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mb-2{margin-bottom:.5rem!important;}
.mb-4{margin-bottom:1.5rem!important;}
.mb-5{margin-bottom:3rem!important;}
.p-3{padding:1rem!important;}
.p-4{padding:1.5rem!important;}
.text-center{text-align:center!important;}
.text-white{color:#fff!important;}
@media (min-width:768px){
.d-md-block{display:block!important;}
.d-md-none{display:none!important;}
.order-md-2{order:2!important;}
.order-md-3{order:3!important;}
}
@media (min-width:992px){
.d-lg-block{display:block!important;}
.d-lg-none{display:none!important;}
.order-lg-2{order:2!important;}
.order-lg-3{order:3!important;}
.text-lg-start{text-align:left!important;}
}
/*! CSS Used from: ../css/style.css */
:root{--primary:#89F2F2;--greenParticipar:#00CF1C;}
*{font-family:sora, 'sans-serif';color:white;overflow-x:hidden;word-wrap:break-word;}
.font-weight-bold{font-weight:600!important;}
.font-weight-bolder{font-weight:700!important;}
.font-weight-light{font-weight:400!important;}
.text-white{color:white;}
.textBigger{font-size:1.9em;}
.textNormal{font-size:1.3em;}
.textSmall{font-size:1.18em;}
.textExtraSmall{font-size:0.88em;}
.lh-1-3{line-height:1.3em;}
.divSection2Animation{overflow-y:hidden;}
.section2Animation{background:linear-gradient(to right,transparent 50%,#4a82ee 50%);background-size:200%;padding:7px;border-radius:10px;background-position:0;transition:background-position 1.5s;animation:5s infinite selecionar;}
.faIcon{color:var(--primary)!important;}
.iconCalendar{font-size:1.3em;}
.txtBtnParticipar,.iconButton{line-height:35px;}
.iconButton{vertical-align:middle;}
#section1{background-image:url('../assets/banner_desktop.webp');background-position:top -35px center;background-repeat:no-repeat;background-size:cover;}
#section3e5{background-image:url('../assets/background_default.webp');background-position:bottom center;background-repeat:no-repeat;background-size:cover;}
#footer{background-image:url('../assets/background_default.webp');background-position:top center;background-repeat:no-repeat;background-size:cover;border-top-style:solid;border-top-width:1px;border-top-color:#89F2F2;}
#btnParticipar{display:inline-block;padding:20px 40px;background-color:var(--greenParticipar);color:white;font-weight:800!important;font-size:1.3em;box-shadow:0px 0px 0px 0px;background:linear-gradient(270deg, #1deb49, #008c1e, #008c1e, #1deb49, #008c1e );background-size:400% 400%;-webkit-animation:Animation 5s ease infinite;-moz-animation:Animation 5s ease infinite;animation:Animation 5s ease infinite;}
#cardAprendizados{border-style:solid;border-width:1px;border-color:#89f2F282;border-radius:11px 11px 11px 11px;padding-left:5px;padding-right:5px;padding-top:15px;padding-bottom:15px;background-image:linear-gradient(180deg,#4242426B 0,#f2295B00 100%);}
/*! CSS Used from: ../css/form.css */
.modal{display:none;position:fixed;z-index:1;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.623);}
.modal_content{background-color:rgb(0, 0, 0);position:absolute;top:20%;left:30%;width:40%;padding:20px;border-radius:5px;border:2px solid black;}
.close{font-size:20px;color:white;float:right;}
.close:hover{color:white;cursor:pointer;}
#_form_51_submit{width:100%;padding:20px 40px;background-color:var(--greenParticipar);border-radius:5px 5px 5px 5px;color:white;font-weight:800!important;font-size:1.3em;box-shadow:0px 0px 0px 0px;background:linear-gradient(270deg, #1deb49, #008c1e, #008c1e, #1deb49, #008c1e );background-size:400% 400%;-webkit-animation:Animation 5s ease infinite;-moz-animation:Animation 5s ease infinite;animation:Animation 5s ease infinite;}
.inputFormActive{border-color:#00c0af!important;border-width:1px 1px 1px 1px!important;border-radius:6px 6px 6px 6px!important;}
/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css */
.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-arrow-right:before{content:"\f061";}
.fa-calendar-alt:before{content:"\f073";}
.fa-check:before{content:"\f00c";}
.far{font-weight:400;}
.far,.fas{font-family:"Font Awesome 5 Free";}
.fas{font-weight:900;}
/*! CSS Used from: ../css/responsividade.css */
@media (max-width: 1300px){
.textBigger{font-size:1.6em;}
.textNormal{font-size:1.1em;}
.textSmall{font-size:1em;}
#btnParticipar{font-size:1.4em;}
}
@media (max-width: 920px){
#section1{background-image:url('../assets/banner_mobile.webp');background-position:top 0px center;}
.columnS1Mobile{margin-top:20em!important;}
.textBigger{font-size:1.45em;}
.textNormal{font-size:1.1em;}
.textSmall{font-size:1em;}
.iconLogoMobile{width:70%;}
#btnParticipar{font-size:1.2em;}
.marginS3CardMobile{margin-top:1.1rem!important;}
#cardAprendizados{padding-left:8px;padding-right:8px;}
.modal_content{top:5%;left:unset;width:100%;padding:20px;}
}
@media (max-width: 600px){
.columnS1Mobile{margin-top:13em!important;}
}
/*! CSS Used keyframes */
@keyframes Animation{0%{background-position:0% 50%;}50%{background-position:100% 50%;}100%{background-position:0% 50%;}}
/*! CSS Used fontfaces */
@font-face{font-family:sora;src:url('../fonts/sora/Sora-Thin.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:sora;src:url('../fonts/sora/Sora-Light.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:sora;src:url('../fonts/sora/Sora-Regular.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:sora;src:url('../fonts/sora/Sora-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:sora;src:url('../fonts/sora/Sora-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:sora;src:url('../fonts/sora/Sora-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.svg#fontawesome) format("svg");}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.svg#fontawesome) format("svg");}